.roboto {
  font-family: 'Roboto Slab', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.big {
  font-size: 18px;
}

.titlebig {
  font-size: 50px;
}

.titlemed{
  font-size: 25px;
}

.titlemargin{
  margin: 50px 0px;
}

.subtitlemargin{
  margin: 50px 0px;
}